html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

img {
  display: block;
  width: 100%;
}

header {
  display: flex;
  text-align: center;
  flex-direction: column;
}

nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 0 1rem;
  list-style-type: none;
}

li a {
  padding: 0 .5em;
  font-size: 1.125em;
}

h1 {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

h2 {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin: 1.5rem 0;
  padding: 0;
}

h2 i {
  font-size: 1.5em;
}

body {
  margin: 0;
  padding: 1rem;
}

h1 span {
  font-size: 1.125rem;
}

a {
  color: #3783a3;
}

article a {
  border: .2rem #3783a3 solid;
  border-radius: .3rem;
  text-decoration: none;
  padding: .5em 1em .6em;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 1.5rem;
}

article p {
  margin-top: 0;
  flex-grow: 1;
}

div {
  border-top: .2rem #e2e2e2 solid;
  border-bottom: .2rem #e2e2e2 solid;
  text-align: center;
  margin: 1.5rem auto;
  max-width: 30em;
  padding: 1rem;
}

div i {
  font-size: 2rem;
}

footer {
  margin: 0;
  text-align: center;
  border-top: .2rem #e2e2e2 solid;
}

@media only screen and (min-width: 38em) {

  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 .5rem 1rem;
  }

  h1 {
    align-items: flex-start;
  }

}
