html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: flex-end;
}

aside {
display: grid;
grid-template-areas: masthead;
justify-items: center;
}

br {
  justify-items: center;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: stretch;

}

li {
  list-style-type: none;

}

footer {
  margin: 1rem;
  display: flex;
  justify-content: center;
  border-top-style: solid;
}
